<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.CourseDao"><!-- 这里写的是 包名+类名 -->
    <!-- List<Course> selectCourseOfWeek(Integer termId, Integer week,Integer userId); -->
    <select id="selectCourseOfWeek" resultType="Course">
        select c.course_id,user_id,term_id,course_name,start_week,end_week,course_time_id,weekday,classroom,start_lesson,end_lesson
        from course c inner join course_time ct on c.course_id = ct.course_id
        where term_id=#{param1}  and  #{param2}&gt;=start_week and #{param2}&lt;=end_week and user_id=#{param3};
    </select>

<!--    List<Course> selectCourseOfNextDay(Integer termId, Integer week,Integer weekDay,Integer userId);-->
    <select id="selectCourseOfNextDay" resultType="Course">
        select c.course_id,user_id,term_id,course_name,start_week,end_week,course_time_id,weekday,classroom,start_lesson,end_lesson
        from course c inner join course_time ct on c.course_id = ct.course_id
        where term_id=#{param1}  and  #{param2}&gt;=start_week and #{param2}&lt;=end_week and user_id=#{param3} and weekDay=#{param4};
    </select>

<!--   List<Course> selectCurCourseByUserId(Integer userId,Integer termId); -->
    <select id="selectCurCourseByUserId" resultMap="courseMap">
    select c.*, ct.course_time_id,ct.weekday,ct.classroom,ct.start_lesson,ct.end_lesson
    from course as c left join course_time as ct on c.course_id = ct.course_id
    where user_id=#{param1} and term_id=#{param2}
    </select>
    <resultMap id="courseMap" type="Course">
        <id column="course_id" property="courseId"/>
        <result column="user_id" property="userId"/>
        <result column="term_id" property="termId"/>
        <result column="course_name" property="courseName"/>
        <result column="start_week" property="startWeek"/>
        <result column="end_week" property="endWeek"/>
        <collection property="courseTimes" ofType="CourseTime">
            <id column="course_time_id" property="courseTimeId"/>
            <result column="weekday" property="weekday"/>
            <result column="classroom" property="classroom"/>
            <result column="start_lesson" property="startLesson"/>
            <result column="end_lesson" property="endLesson"/>
        </collection>
    </resultMap>

<!--    void insertCourseTimes(List<CourseTime> courseTimes);-->
    <insert id="insertCourseTimes">
        insert into course_time values
        <foreach collection="list" item="obj" index="index" separator=",">
            (null,#{obj.courseId},#{obj.weekday},#{obj.classroom},#{obj.startLesson},#{obj.endLesson})
        </foreach>
    </insert>
</mapper>
